fastapi
uvicorn
motor
pymongo
pydantic
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
google-generativeai
chromadb
sentence-transformers
pypdf
python-docx
python-pptx
Pillow
pytesseract
pydub
bert-score
evaluate
pandas
scikit-learn